backend:
  name: github
  repo: papascott/papascott-gatsby
  branch: master
  site_domain: www.papascott.de
media_folder: 'static/assets'
publish_mode: editorial_workflow
collections:
  - name: 'post' # Used in routes, e.g. /admin/collections/blog
    label: 'Post' # Used in the UI
    folder: 'src/posts' # The path to the folder where the documents are stored
    extension: 'markdown'
    create: true # Allow users to create new documents in this collection
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}' # Filename template i.e. YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - { label: 'Layout', name: 'layout', widget: 'hidden', default: 'post' }
      - { label: 'Publish Date', name: 'date', widget: 'datetime' }
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Body', name: 'body', widget: 'markdown' }
